# # kütüphanelerin içe aktarılması
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

# veri setinin rastgele oluşturulması
df = pd.DataFrame({'x': np.random.randint(1, 100, 25), 'y': np.random.randint(1, 100, 25)}, columns=['x', 'y'])

# k-means uygulanması
kmeans_model = KMeans(n_clusters=3)

# cluster
clustered = kmeans_model.fit_predict(df)

# Model oluşturulması
plt.scatter(df['x'], df['y'], c=clustered)
plt.scatter(kmeans_model.cluster_centers_[:, 0], kmeans_model.cluster_centers_[:, 1], s=300, c='red')
plt.show()
